<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, user-scalable=no">
    <title>Coffee byourway</title>
    <link type="text/css" rel="stylesheet" href="static/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="static/manager.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/user.css" rel="stylesheet">
    <style>
      
        body{
            background: url('static/coffee.jpg') no-repeat  center center fixed;
              -moz-background-size: cover;
             -webkit-background-size: cover;
             -o-background-size: cover;
             background-size: cover;
          }
    </style>
</head>
<body>
    <div id="main" >
    </div>
    <script src="static/combinedAll.js"></script>
</body>

</html>
