<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name ="viewport" content="width=device-width, user-scalable=no">
    <title>Coffee byourway</title>
    <link type="text/css" rel="stylesheet" href="static/bootstrap.min.css">
   
    <link type="text/css" rel="stylesheet" href="static/manager.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/user.css" rel="stylesheet">
    
</head>
<body>
    <div id="main" >
    </div>
    <script src="static/combinedAll.js"></script>

    <div id="applyCupCanvas" style="display: none"></div>
    <div id="addPatternToShirt" style="display: none"></div>
    <div id="applyColorChange" style="display: none"> </div>
    <div id="resetCanvas" style="display: none"> </div>
    <div id="screenShot" style="display: none"> </div> 
    <input type="hidden" id="handleIngredientPattern" />
</body>
<script type="text/javascript" src="static/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="static/jquery.miniColors.min.js"></script>
<script type="text/javascript" src="static/html2canvas.js"></script>
<script type="text/javascript" src="static/fabric.min.js"></script>
<script type="text/javascript" src="static/cupEditor.js"></script>
<script type="text/javascript" src="static/bootstrap.min.js"></script>


</html>
