.TextCover {
    width: 24vw;
    margin: 6vh 11vw;
    padding: 2vh 2vw;
    border: 6px solid white;
    cursor: pointer;
}

.TextCover:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 1s;
}
.cupLayout{
	 user-select: none;
  pointer-events: none;
}
.recipeItem {
    width: 100%;
    margin-top: 10px;
    overflow: auto;
    cursor: pointer;
}

.recipeItemDetail {
    height: 100px;
    text-align: center;
}

.recipeItemDetail:hover h4{
    color: #94AF5A;
    transition: all 0.5s;
}

.recipeItemDetail h4 {
    font-weight: bold;
    color: #999
}